#Files after compilation not to be uploaded to the repository

#modules
**.o
**.mod
**.mod.c
**.cmd
**-swp
**symvers
**.order
**tmp_versions/**

#baremetal
*.axf**
**/Baremetal-applications/**/*.o
**/Baremetal-applications/**/*.bin
**/Baremetal-applications/**/*.bin.img

#Quartus II files
**/FPGA-hardware/**/**/.qsys_edit/**
**/FPGA-hardware/**/**/db/**
**/FPGA-hardware/**/**/incremental_db/**
**/FPGA-hardware/**/**/soc_system/**
**/FPGA-hardware/**/**/hps_isw_handoff/**
**/FPGA-hardware/**/**/*.txt
**/FPGA-hardware/**/**/*.rpt
**/FPGA-hardware/**/**/*.csv
**/FPGA-hardware/**/**/*.done
**/FPGA-hardware/**/**/*.smsg
**/FPGA-hardware/**/**/*.summary
**/FPGA-hardware/**/**/*.pin
**/FPGA-hardware/**/**/*.jdi
**/FPGA-hardware/**/**/*.sopcinfo
**/FPGA-hardware/**/**/*.sld
**/FPGA-hardware/**/**/*.qws
**/FPGA-hardware/**/**/*.sof
**/FPGA-hardware/**/**/*.rbf
**/FPGA-hardware/**/**/*.cdf
**/FPGA-hardware/**/**/*.stp
**/FPGA-hardware/**/**/*.cof
**/FPGA-hardware/**/**/*.bak
